.idea/
specs/
node_modules/
obj/
tmp/
bin/
npm/
lib-cov
pids
logs
results
dist

.coveralls.yml
coverage
*.swp
*.sln
*#
.vscode
.vs
.ntvs_analysis.*
*.exclude
*.njsproj
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

bin/Microsoft.NodejsTools.WebRole.dll
npm-debug.log