
<div class="mdl-cell--12-col mdl-color--white" style="padding: 10px 20px 0px 20px">
    <div class="select-wrap drop mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--5-col" style="margin-right:18px;">
        <input class="dropfocus mdl-textfield__input" readonly type="text" id="assignee" name="assignee" ng-model="rowdata.assignee" />
        <ul>
            <li ng-repeat="itm in optassignee">
                <a href="" ng-click="applyDropValue('rowdata.assignee',itm.key)"><i class="material-icons">{{itm.icon}}_outline</i>{{itm.name}}</a>
            </li>
        </ul>
        <label class="mdl-textfield__label" for="assignee">Assignee</label>

        <button class="mdl-button mdl-js-button mdl-button--icon app-rbtn" id="btnAssignAssignee" ng-click="assignMe(rowdata,'assignee')"> 
            <i class="material-icons">pan_tool</i>
        </button>
        <div class="mdl-tooltip" for="btnAssignAssignee">
            Assign Me
        </div>

    </div>

    <br class="mdl-cell--hide-desktop mdl-cell--hide-tablet" />
    <div class="select-wrap drop mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
        <input class="dropfocus mdl-textfield__input" readonly type="text" id="priority" name="priority" ng-model="rowdata.priority" />
        <ul>
            <li ng-repeat="itm in optpriority">
                <a href="" ng-click="applyDropValue('rowdata.priority',itm.key)">{{itm.name}}</a>
            </li>
        </ul>
        <label class="mdl-textfield__label" for="priority">Priority</label>
    </div>

    <br class="mdl-cell--hide-desktop mdl-cell--hide-tablet" />
    <div class="select-wrap mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
        <input type="text" class="mdl-textfield__input" pikaday="TicketsCtrl.rowdata.dueDate" i18n="sk" id="dueDate" name="dueDate" xxxon-select="onPikadaySelect(pikaday)"
               ng-model="rowdata.dueDate" pikadayfocus />
        <label class="mdl-textfield__label" for="dueDate">Due Date</label>
    </div>
    <br />

    <div mass-autocomplete class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--5-col">
        <textarea msd-elastic="\n" class="mdl-textfield__input" type="text" id="requester" name="requester" multiple-emails
                  ng-model="rowdata.requester" mass-autocomplete-item="autocomplete_options"></textarea>
        <label class="mdl-textfield__label" for="requester">Requester</label>
    </div>
    <br class="mdl-cell--hide-desktop" />
    <div mass-autocomplete class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--3-col" style="margin-right:18px;">
        <textarea msd-elastic="\n" class="mdl-textfield__input" type="text" id="requestcc" name="requestcc" multiple-emails
                  ng-model="rowdata.requestcc" mass-autocomplete-item="autocomplete_options"></textarea>
        <label class="mdl-textfield__label" for="requestcc">CC</label>

        <button class="mdl-button mdl-js-button mdl-button--icon app-rbtn" id="btnAssignRequestcc" ng-click="assignMe(rowdata,'requestcc')">
            <i class="material-icons">pan_tool</i>
        </button>
        <div class="mdl-tooltip" for="btnAssignRequestcc">
            Assign Me
        </div>
   </div>

    <br class="mdl-cell--hide-desktop mdl-cell--hide-tablet" />
    <div mass-autocomplete class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--3-col" style="margin-right:18px;">
        <textarea msd-elastic="\n" class="mdl-textfield__input" type="text" id="requestbc" name="requestbc" multiple-emails 
                  ng-model="rowdata.requestbc" mass-autocomplete-item="autocomplete_options"></textarea>
        <label class="mdl-textfield__label" for="requestbc">BC</label>

        <button class="mdl-button mdl-js-button mdl-button--icon app-rbtn" id="btnAssignRequestbc" ng-click="assignMe(rowdata,'requestbc')">
            <i class="material-icons">pan_tool</i>
        </button>
        <div class="mdl-tooltip" for="btnAssignRequestbc">
            Assign Me
        </div>
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--10-col">
        <input class="dropfocus mdl-textfield__input" type="text" id="subject" name="subject" ng-model="rowdata.subject" />
        <label class="mdl-textfield__label" for="subject">Subject</label>
    </div>
    <br />

    <div class="select-wrap drop mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
        <input class="dropfocus mdl-textfield__input" readonly type="text" id="service" name="service" ng-model="rowdata.service" />
        <ul>
            <li ng-repeat="itm in optservice">
                <a href="" ng-click="applyDropValue('rowdata.service',itm.key)"><i class="material-icons">{{itm.icon}}</i>{{itm.name}}</a>
            </li>
        </ul>
        <label class="mdl-textfield__label" for="service">Service</label>
    </div>

    <div class="select-wrap drop mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col">
        <input class="dropfocus mdl-textfield__input" numbers-only type="text" id="time" name="time" ng-model="rowdata.time" />
        <ul>
            <li ng-repeat="itm in opttime | filter:fopttime">
                <a href="" ng-click="applyDropValue('rowdata.time',itm.key)">{{itm.name}}</a>
            </li>
        </ul>
        <label class="mdl-textfield__label" for="time">Time (hod.)</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
    </div>

    <div class="select-wrap drop mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col">
        <input class="dropfocus mdl-textfield__input" type="text" numbers-only id="transport" name="transport" ng-model="rowdata.transport" />
        <ul>
            <li ng-repeat="itm in opttransp">
                <a href="" ng-click="applyDropValue('rowdata.transport',itm.key)">{{itm.name}}</a>
            </li>
        </ul>
        <label class="mdl-textfield__label" for="transport">Transp.</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  mdl-cell--2-col">
        <input class="dropfocus mdl-textfield__input" type="text" numbers-only id="purchase" name="purchase" ng-model="rowdata.purchase" />
        <label class="mdl-textfield__label" for="purchase">Purchase VAT incl.</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  mdl-cell--2-col">
        <input class="dropfocus mdl-textfield__input" type="text" numbers-only id="price" name="price" ng-model="rowdata.price" />
        <label class="mdl-textfield__label" for="price">Price VAT incl.</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
    </div>

    <div class="select-wrap drop mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
        <input class="dropfocus mdl-textfield__input" readonly type="text" id="requital" name="requital" ng-model="rowdata.requital" />
        <ul>
            <li ng-repeat="itm in optrequital">
                <a href="" ng-click="applyDropValue('rowdata.requital',itm.key)"><i class="material-icons">{{itm.icon}}</i>{{itm.name}}</a>
            </li>
        </ul>
        <label class="mdl-textfield__label" for="requital">Requital</label>
    </div>

    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell--2-col" for="reimburse">
        <input class="mdl-checkbox__input" type="checkbox" id="reimburse" name="reimburse" ng-model="rowdata.reimburse" />
        <span class="mdl-checkbox__label">Reimburse</span>
    </label>


    <br />

    <div class="app-panel mdl-cell--10-col-desktop mdl-cell--12-col-tablet mdl-cell--10-col-phone"
         ng-class="{'app-privcomm': rowdata.privcomm}"
         ng-if="!rowdata.mergedto">
        <ng-wig source-mode-allowed id="comment" name="comment" ng-model="rowdata.comment"></ng-wig>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell--10-col" for="privcomm" ng-show="rowdataPanel.acc.viewacc.substring(0, 2)=='ag'">
            <input class="mdl-checkbox__input" type="checkbox" id="privcomm" name="privcomm" ng-model="rowdata.privcomm" />
            <span class="mdl-checkbox__label">Private only comment</span>
        </label>



        <!--<div ngf-drop ng-model="avatar" class="drop-box">Drop</div>
        <div class="mdl-button mdl-button--icon mdl-button--file"
                ngf-select="upload(rowdata._id,$file,updateForm.avatar)" ng-model="avatar" id="avatar" name="avatar"
                ngf-pattern="'*/*'" ngf-multiple="false"
                ngf-accept="'*/*'" ngf-max-size="1MB">
            <i class="material-icons app-dimmed">publish</i>
        </div>-->

        <div style="float:right;">
            <div class="app-chip" ng-repeat="tag in rowdata.tags">
                <span>{{tag}}</span>
                <button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="deleteTag(rowdata.tags,tag)"><i class="material-icons">cancel</i></button>
            </div>


            <div class="app-chip">
                <div class="drop mdl-textfield mdl-js-textfield">
                    <input class="dropfocus mdl-textfield__input" type="text" ng-model="rowdata.newtag" />
                    <ul>
                        <li ng-repeat="itm in opttags">
                            <a href="" ng-click="applyDropValue('rowdata.newtag',itm)">{{itm}}</a>
                        </li>
                    </ul>
                </div>

                <button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="addTag(rowdata.tags,rowdata.newtag)"><i class="material-icons">add_circle</i></button>
            </div>
        </div>


    </div>

    <div class="app-panel mdl-cell--2-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" 
         ng-if="rowdataPanel.acc.update && !rowdata.mergedto"
         datapanel="ticketbtns">
    </div>


    <br />
    <br />

        <div style="float:left;top:-4px;padding-bottom:14px;" class="mdl-button mdl-button--primary mdl-button--icon">
            <div class="mdl-button mdl-button--icon mdl-button--file"
                 ngf-select="upload(rowdata._id,$file,updateForm.avatar)" ng-model="files" id="files" name="files"
                 ngf-pattern="'*/*'" ngf-multiple="true"
                 ngf-accept="'*/*'" ngf-max-size="10MB">
                <i class="material-icons">attach_file</i>
            </div>
        </div>
        <div class="app-attachment" ng-repeat="file in files">
            <img ng-src="{{getFileicon(file.name)}}" />
            <span>{{file.name}}{{(!$last?',':'')}}</span>
        </div>

    <br />
    <br />

</div>
<div style="padding: 10px 20px 0px 20px;border-top:1px solid silver;">
    <div class="mdl-typography--title app-mergedto" ng-if="rowdata.mergedto">
        <i class="material-icons">call_merge</i> Merged to ticket 
        <a href="javascript:void(0)" ng-click="loadTicket(rowdata.mergedto)">#{{rowdata.mergedto}}</a>

        <div class="rside"
             ng-if="rowdataPanel.acc.update && rowdata.mergedto"
             datapanel="ticketbtns" style="padding:10px;">
        </div>
        <br><hr />
    </div>

    <div ng-switch on="ticketExt">
        <div ng-switch-when="comment">
            <div ng-repeat="log in getLogs(rowdata.logs,ticketExt)" ng-if="(log.comment||log.atid) && (!log.privcomm || log.privcomm && rowdataPanel.acc.viewacc.substring(0, 2)=='ag')">
                <hr ng-if="$index" />
                <div class="app-log">
                    <img ng-srcset="/api/image/{{log.logUser._id}}" class="app-photo" />
                </div>
                <div class="mdl-cell mdl-cell--11-col app-log" ng-class="{'app-privcomm-log': log.privcomm}">
                    <div class="mdl-typography--menu">
                        {{log.logUser.fullname}}
                    </div>
                    <div class="mdl-typography--caption">
                        {{log.logUser.username}} on {{log.logDate | date: 'dd.MM.yyyy HH:mm'}}
                    </div>
                    <div class="app-logbr"></div>
                    <div ng-bind-html="log.comment"></div>
                    <div ng-if="log.atid" class="mdl-grid mdl-cell--12-col app-loglist">
                        <div class="mdl-cell--1-col app-logevn">
                            <i class="material-icons app-logicon">attach_file</i>
                        </div>
                        <div class="app-loglist mdl-cell--10-col mdl-typography--caption">
                            <div class="app-attachment" ng-repeat="file in rowdata.attachments[log.atid]">
                                <!--<a target="_blank" class="app-logref" ng-href="attachment/{{log.ticnum}}/{{log.atid}}/{{file.uri}}">-->
                                <a target="_blank" class="app-logref" ng-href="attachment/{{log.atid}}/{{file.uri}}">
                                    <img ng-src="{{getFileicon(file.filename)}}" style="height:12px;" />
                                    <span>{{file.filename}}{{(!$last?',':'')}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="log.ticnum && log.ticnum!==rowdata.ticnum" class="app-merged">Merged from ticket 
                        <a href="javascript:void(0)" ng-click="loadTicket(log.ticnum)">#{{log.ticnum}}</a>
                    </div>

                </div>
            </div>
        </div>
        <div ng-switch-default>
            <!--<div ng-repeat="log in rowdata.logs">
                <pre>{{log | json}}</pre>
            </div>-->
            <div ng-repeat="log in getLogs(rowdata.logs,ticketExt)">
                <hr ng-if="$index" />
                <div class="app-log">
                    <img ng-srcset="/api/image/{{log.logUser._id}}" class="app-photo" />
                </div>
                <div class="mdl-cell mdl-cell--11-col app-log">
                    <div class="mdl-grid" style="margin:0;padding:0;">
                        <div class="mdl-cell mdl-cell--12-col" style="margin:0;padding:0;">
                            <div class="mdl-typography--menu">
                                {{log.logUser.fullname}}
                            </div>
                            <div class="mdl-typography--caption">
                                {{log.logUser.username}} on {{log.logDate | date: 'dd.MM.yyyy HH:mm'}}
                            </div>
                            <div class="app-logbr"></div>
                        </div>

                        <!--<div class="mdl-cell mdl-cell--12-col">
                            <div ng-bind-html="log.comment"></div>
                        </div>-->



                        <div ng-if="log.changes" class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="(key, chg) in log.changes">
                            <div class="mdl-cell--1-col app-logevn">
                                <i class="material-icons app-logicon">swap_horiz</i>
                            </div>
                            <div class="mdl-cell--11-col mdl-typography--caption" ng-bind-html="getChangeText(key,chg)"></div>
                        </div>

                        <div ng-if="log.autotrg" class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="trg in log.autotrg">
                            <div class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="(key, chg) in trg">
                                <div class="mdl-cell--1-col app-logevn">
                                    <i class="material-icons app-logicon">trending_up</i>
                                </div>
                                <div class="mdl-cell--11-col mdl-typography--caption">
                                    {{key}}
                                    <div class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="(chk, chv) in chg.changes">
                                        <div class="mdl-cell--1-col app-logevn">
                                            <i class="material-icons app-logicon">swap_horiz</i>
                                        </div>
                                        <div class="mdl-cell--11-col mdl-typography--caption" ng-bind-html="getChangeText(chk,chv)"></div>
                                    </div>
                                    <a class="app-logref mdl-cell--12-col" ng-repeat="(chk, chv) in chg.messages">
                                        <div class="mdl-grid mdl-cell--12-col app-loglist" ng-click="chv.isopen=!chv.isopen||false">
                                            <div class="mdl-cell--1-col app-logevn">
                                                <i class="material-icons app-logicon">chat_bubble_outline</i>
                                            </div>
                                            <div class="mdl-cell--11-col">
                                                <div class="mdl-cell--11-col" ng-if="chv.isopen">
                                                    <b>{{chv.value}}</b>
                                                    <div class="mdl-cell--11-col mdl-typography--caption"><i>{{chv.title}}</i></div>
                                                    <div class="mdl-cell--11-col mdl-typography--caption"
                                                         xxxstyle="transform: scale(.9);" ng-bind-html="chv.message.body" app-logmsg></div>
                                                    <div class="app-logbr"></div>
                                                </div>
                                                <div class="mdl-cell--11-col" ng-if="!chv.isopen">
                                                    {{chv.value}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div ng-if="log.autosvc" class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="trg in log.autosvc">
                            <div class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="(key, chg) in trg">
                                <div class="mdl-cell--1-col app-logevn">
                                    <i class="material-icons app-logicon">trending_up</i>
                                </div>
                                <div class="mdl-cell--11-col mdl-typography--caption">
                                    {{key}}
                                    <div class="mdl-grid mdl-cell--12-col app-loglist" ng-repeat="(chk, chv) in chg.changes">
                                        <div class="mdl-cell--1-col app-logevn">
                                            <i class="material-icons app-logicon">swap_horiz</i>
                                        </div>
                                        <div class="mdl-cell--11-col mdl-typography--caption" ng-bind-html="getChangeText(chk,chv)"></div>
                                    </div>
                                    <a class="app-logref mdl-cell--12-col" ng-repeat="(chk, chv) in chg.messages">
                                        <div class="mdl-grid mdl-cell--12-col app-loglist" ng-click="chv.isopen=!chv.isopen||false">
                                            <div class="mdl-cell--1-col app-logevn">
                                                <i class="material-icons app-logicon">chat_bubble_outline</i>
                                            </div>
                                            <div class="mdl-cell--11-col">
                                                <div class="mdl-cell--11-col" ng-if="chv.isopen">
                                                    <b>{{chv.value}}</b>
                                                    <div class="mdl-cell--11-col mdl-typography--caption"><i>{{chv.title}}</i></div>
                                                    <div class="mdl-cell--11-col mdl-typography--caption"
                                                         xxxstyle="transform: scale(.9);" ng-bind-html="chv.message.body" app-logmsg></div>
                                                    <div class="app-logbr"></div>
                                                </div>
                                                <div class="mdl-cell--11-col" ng-if="!chv.isopen">
                                                    {{chv.value}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div ng-if="log.notifyAtDate||log.reopenAtDate" class="app-grid mdl-cell--12-col app-loglist app-logref" ng-click="log.notify.isopen=!log.notify.isopen||false">
                            <div class="mdl-cell--1-col app-logevn">
                                <i class="material-icons app-logicon">notifications_none</i>
                            </div>
                            <div class="mdl-cell--11-col">
                                <div class="mdl-grid mdl-cell--12-col app-loglist" ng-if="log.notifyAtDate">
                                    <div class="mdl-cell--1-col app-logevn">
                                        <i class="material-icons app-logicon">swap_horiz</i>
                                    </div>
                                    <div class="mdl-cell--11-col" ng-bind-html="getChangeText('notifyAtDate',{ to: log.notifyAtDate})"></div>
                                </div>
                                <div class="mdl-grid mdl-cell--12-col app-loglist" ng-if="log.reopenAtDate">
                                    <div class="mdl-cell--1-col app-logevn">
                                        <i class="material-icons app-logicon">swap_horiz</i>
                                    </div>
                                    <div class="mdl-cell--11-col" ng-bind-html="getChangeText('reopenAtDate',{ to: log.reopenAtDate})"></div>
                                </div>
                            </div>
                        </div>

                        <!--<div ng-if="log.reopenAtDate" class="app-grid mdl-cell--12-col app-loglist app-logref" ng-click="log.notify.isopen=!log.notify.isopen||false">
                            <div class="mdl-cell--1-col app-logevn">
                                <i class="material-icons app-logicon">notifications_none</i>
                            </div>
                            <div class="mdl-cell--11-col mdl-typography--caption">
                                Ticket reopen at {{log.reopenAtDate | date: 'dd.MM.yyyy HH:mm'}}
                            </div>
                        </div>-->


                        <a ng-if="log.comment && (!log.privcomm || log.privcomm && rowdataPanel.acc.viewacc.substring(0, 2)=='ag' )" class="app-logref mdl-cell--12-col">
                            <div class="mdl-grid app-loglist" ng-click="log.isopenComment=!log.isopenComment||false">
                                <div class="mdl-cell--1-col app-logevn">
                                    <i class="material-icons app-logicon">mail_outline</i>
                                </div>
                                <div class="mdl-cell--11-col mdl-typography--caption" ng-if="!log.isopenComment">
                                    {{log.subject}}
                                </div>
                                <div class="mdl-cell--11-col" ng-if="log.isopenComment" ng-class="{'app-privcomm-log': log.privcomm}">
                                    <!--<div class="mdl-cell--11-col mdl-typography--caption"><i>{{log.subject}}</i></div>-->
                                    <div class="mdl-cell--11-col mdl-typography--caption app-logmsg">
                                        <div style="transform: scale(.9);" ng-bind-html="log.comment"></div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div ng-if="log.atid" class="mdl-grid mdl-cell--12-col app-loglist">
                            <div class="mdl-cell--1-col app-logevn">
                                <i class="material-icons app-logicon">attach_file</i>
                            </div>
                            <div class="app-loglist mdl-cell--10-col mdl-typography--caption">
                                <div class="app-attachment" ng-repeat="file in rowdata.attachments[log.atid]">
                                    <!--<a target="_blank" class="app-logref" ng-href="attachment/{{log.ticnum}}/{{log.atid}}/{{file.uri}}">-->
                                    <a target="_blank" class="app-logref" ng-href="attachment/{{log.atid}}/{{file.uri}}">
                                        <img ng-src="{{getFileicon(file.filename)}}" style="height:12px;" />
                                        <span>{{file.filename}}{{(!$last?',':'')}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div ng-if="log.ticnum && log.ticnum!==rowdata.ticnum" class="mdl-cell--12-col app-loglist app-merged2">
                            Merged from ticket
                            <a href="javascript:void(0)" ng-click="loadTicket(log.ticnum)">#{{log.ticnum}}</a>
                        </div>

                    </div>




                </div>
            </div>

        </div>
    </div>
</div>
